#daftar-siswa {
    background-color: gainsboro
  }
  
  p:hover{background-color:#E5E7EB;
  color: black
  }
  #daftar-siswa {
    color: #F3F4F6;
    text-transform: uppercase;
    font-weight: 400;
    font-family: sans-serif;
  }
  p{
    margin: 0px;
  }
  
  .siswa {
    padding-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }