nav{
    background-color: blue;
    display: inline-flex
  }
  
  a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 1000;
    color: black;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    }
  
  a:hover {
    background-color: gainsboro;
  }